{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>greet</title>
    <link rel="stylesheet" href="{% static 'myapp/css/styles.css' %}">
    <script src="{% static 'myapp/js/script.js' %}"></script>
</head>
<body>
    <h1>{{ insert_time }}</h1>
    <h1>{{ msg }}</h1>
    <div>
        <img src="{% static 'myapp/images/image.png' %}" alt="Greeting Image " >
    </div>
</body>
</html>
